.landing-body-container {
  padding-top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.landing-form-container {
  max-width: 85%;
  max-height: 85%;
  text-align: center;
}

/* FORM */
.landing-title {
  margin-top: 0;
  font-size: 2.5rem;
  color: black;
}

.gradient-text {
  background: linear-gradient(to right, #8e60f7, #d832f7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.landing-divider {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, white, #e0dfdf, white);
  margin-bottom: 2rem;
}
