.landing-container {
  display: flex;
  height: 100vh;
}

.landing-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

.landing-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing-logo {
  font-size: 1.5rem;
  color: #42224d;
  cursor: pointer;
}

.landing-button-login-container {
  display: flex;
  align-items: center;
}

.landing-button-login {
  background-color: #42224d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.landing-button-login:hover {
  background-color: #753c88;
}

.landing-button-login:active {
  background-color: white;
  color: #42224d;
}





/* LOADER */

.landing-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 768px) {
  .landing-container {
    flex-direction: column;
  }

  .landing-title {
    font-size: 2.2rem;
  }

  .landing-form {
    flex-direction: row;
    justify-content: space-between;
  }

  .landing-GB,
  .landing-input {
    width: 8%;
  }

  .landing-button-go {
    width: 95%;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 5rem;
  }

  .landing-right {
    display: none;
  }

  .landing-button-login-container {
    display: none;
  }

  .landing-logo {
    height: 0.75rem;
    padding-right: 0.5rem;
  }

  .landing-footer a {
    font-size: 0.6rem;
    align-self: center;
  }
}
