
.landing-container {
  display: flex;
  height: 100vh;
}

.landing-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}
.landing-left > :first-child {
  margin: 0 0 0 0; /* Pushes the first child down */
}

.landing-left > :last-child {
  margin: 0 0 200px 0; /* Pushes the last child up */
}

.landing-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing-logo {
  font-size: 1.5rem;
  color: #42224d;
  cursor: pointer;
}

.landing-button-login-container {
  display: flex;
  align-items: center;
}

.landing-button-login {
  background-color: #42224d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.landing-button-login:hover {
  background-color: #753c88;
}

.landing-button-login:active {
  background-color: white;
  color: #42224d;
}

/* LOADER */

.landing-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

