.floating-plus {
  position: absolute;
  top: 50%;
  /* Adjust these values to position the image as per your design */
  left: 7%;
  /* Adjust these values to position the image as per your design */
  z-index: 1;
  /* This ensures the image stays below your content. Increase this value if you want it to float above some content. */
  width: 10%;
  /* Adjust the percentage as needed for your design */
}

.floating-nut {
  position: absolute;
  top: 20%;
  /* Adjust these values to position the image as per your design */
  right: 10%;
  z-index: 1000;
  /* Generally, a high z-index to ensure the image stays on top */
  width: 7%;
  /* Adjust the percentage as needed for your design */
  transform: translateY(-50%);
  /* This is to vertically center the image */
}

.floating-hand {
  position: absolute;
  top: 35%;
  /* Adjust these values to position the image as per your design */
  right: 0%;
  /* Adjust these values to position the image as per your design */
  z-index: 1;
  /* This ensures the image stays below your content. Increase this value if you want it to float above some content. */
  width: 60%;
  /* Adjust the percentage as needed for your design */
}

.landing-footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.landing-form-container {
  max-width: 85%;
  max-height: 85%;
  text-align: center;
}

/* FORM */

.landing-title {
  font-size: 2.5rem;
  color: black;
}

.gradient-text {
  background: linear-gradient(to right, #8e60f7, #d832f7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.landing-divider {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, white, #e0dfdf, white);
  margin-bottom: 2rem;
}

/* .landing-description {
    font-size: 1rem;
    color: #42224d;
    margin-bottom: 1rem;
} */

.landing-form {
  display: flex;
  justify-content: center;

  max-width: 400px;
  margin: auto;
}

.landing-GB {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  color: rgba(0, 0, 0, 0.2);
  justify-content: center;
  /* Horizontally centers content */
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  /* Vertically centers content */
}

.landing-input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  flex-grow: 1;
  font-size: 2rem;
  height: 5rem;
  /* padding-left: 1rem; */
  margin-right: 0.5rem;
  text-align: center;
  box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.2);
  font-style: italic;
}
.landing-input::placeholder {
  text-transform: none;
}

.landing-button-go {
  background-image: linear-gradient(to right, #8e60f7, #d832f7);
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 5rem;
  font-size: 2rem;
  order: 2;
  font-weight: bold;
}

.landing-button-go:hover {
  background-color: #b84361;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.landing-button-go:active {
  background-color: #8b3150;
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* LOADER */

.landing-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 768px) {
  .floating-plus {
    width: 10%;
    left: 2.5%;
    top: 40%;
    /* Adjust for mobile */
  }

  .floating-nut {
    width: 10%;
    right: 1%;
    top: 15%;
  }

  .floating-hand {
    width: 50%;
    right: 0%;
    top: 65%;
  }

  .landing-container {
    flex-direction: column;
  }

  .landing-title {
    font-size: 2.2rem;
  }

  .landing-form {
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-between; */
  }

  .landing-GB,
  .landing-input {
    width: 8%;
    margin-right: 0;
  }

  .landing-input::placeholder {
    text-transform: none;
  }

  .landing-button-go {
    width: 95%;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
  }

  .landing-right {
    display: none;
  }

  .landing-button-login-container {
    display: none;
  }

  .landing-logo {
    height: 0.75rem;
    padding-right: 0.5rem;
  }

  .landing-footer a {
    font-size: 0.6rem;
    align-self: center;
  }
}