/* STATUS WINDOWS */

.status-windows-container-package {
  display: flex;
  margin: 0.3rem;
  justify-content: center;
}

.status-window-package {
  /* width: 10rem; */
  width: 100%;
  min-height: 4.5rem;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  padding: 0.5rem;
  padding-left: 1.5rem;
  /* display: flex; */
}

.status-window-title-package {
  font-size: 1rem;
  margin-bottom: 0.2rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-window-divider-package {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, white, #e0dfdf, white);
}

.status-window-details-package {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;

}

.status-window-details-package-title {
  font-weight: bold;
  text-align: left;
  white-space: pre-line;

}

.status-window-details-package-text {
  text-align: right;
  white-space: nowrap;

}
