.table-row-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.table-row-value-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.table-row-status {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 1px solid black;
}

.table-row-title-value-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.table-row-title {
  font-size: 1rem;
  margin-left: 1rem;
  color: #6f508c;
  font-weight: 500;
}

.table-row-value {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: right;
  color: #6f508c;
}

.table-row-divider {
  width: 95%;
  height: 0.05rem;
  margin-left: 1rem;
  background-color: #6f508c;
}
