/* AI SUMMARY */

.ai-summary-container {
  position: relative; /* This allows us to position .ai-summary-by relative to this container */
  padding: 1rem;
  background: linear-gradient(to right, #e3e8fb, #f5def8);
  border-radius: 5px;
  margin-bottom: 1rem;
}

.ai-summary-content {
  font-size: 1rem;
  font-weight: 500;
  color: var(--dark-purple);
  margin-bottom: 1rem;
}

.ai-summary-by {
  margin-top: 0.2rem;
  position: absolute; /* This allows us to position this element at the bottom right of .ai-summary-container */
  bottom: 0;
  right: 0;
  font-size: 0.75rem;
  color: var(--dark-purple);
  padding: 0.5rem;
  font-weight: bold;
}


/* .table-figure-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 5px; 
}


@media (max-width: 768px) {
  .table-figure-container {
    flex-direction: column;
    width: 100%;
  }
} */


/* .section-table {
  margin-top: 1rem ;
  width: 100%;
}

.section-table td {
  border: 1.5px solid rgb(195, 195, 195);
  padding: 10px;
}

.section-table-first-column {
  border-bottom-style: hidden !important;
  align-content: center;
  width: 5% !important;
}

.section-table-second-column {
  border-left-style: hidden !important;
  width: 30% !important;
} */







.table-row-container {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}

.table-row-container td {
  padding: 8px;
}

.table-row-container tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.table-row-container td:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.table-row-container:first-of-type tr:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.table-row-container td:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.table-row-title {
  font-weight: 400;
  text-align: left;
}

.table-row-children {
  text-align: right;
  font-weight: bold;
}

.last-row {
  margin-bottom: 16px;  
}

@media screen and (max-width: 768px) {
  .package-left-tax-and-mot-container {
    flex-wrap: nowrap;
  }

  .package-left-other-details-container {
    margin-bottom: -3rem;
  }
}
