.table-row-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.table-row-value-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  .table-row-status {

    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 1px solid black;
    align-items: center;
  }

  .table-row-title-value-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .table-row-title {
    font-size: 1rem;
    margin-left: 1rem;
    font-weight: 500;
  
    margin-top: 0.4rem; 
  
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
  }
}

.table-row-value {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
}

.table-row-divider {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, white, #e0dfdf, white);
}