.package-container {
  display: flex;
  height: 100vh;
}

/* LEFT */

.package-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

/* HEADER */

.package-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.package-logo {
  font-size: 1.5rem;
  color: #42224d;
}

/* FORM */

.package-form-container {
  margin-bottom: 3rem;
}

.package-form {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0px !important;
}

.package-input-container {
  display: flex;
}

.package-GB {
  padding: 1rem;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #42224d;
}

.package-input {
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  flex-grow: 1;
  font-size: 1.2rem;
  height: 3.3rem;
  padding-left: 1rem;
  margin-right: 1rem;
  color: #42224d;
}

.package-input::placeholder {
  color: #42224d;
  opacity: 0.7;
}

.package-button-go {
  background-color: white;
  border: 1px solid #d55a6f;
  color: #d55a6f;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 3.3rem;
  width: 9rem;
  font-size: 1.2rem;
  order: 2;
  font-weight: bold;
}

.package-button-go:hover {
  background-color: #b84361;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.package-button-go:active {
  background-color: #8b3150;
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* CONTENT */

.package-content-container {
  margin-bottom: 3rem;
}

.package-carmake-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: x-large;
  font-weight: bold;
  color: #6f508c;
  gap: 1rem;
  margin-bottom: 2rem;
}

.package-tax-and-mot-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.package-other-details-container {
  margin-top: 3rem;
}

/* RIGHT */

.package-right {
  flex: 1;
  background-color: #faf5ff;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  margin: 1rem;
  border-radius: 5px;
}

/* FOOTER */

.package-logos-container {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 1rem;
}

.package-logo {
  height: 1.25rem;
  padding-right: 0.5rem;
  cursor: pointer;
}

.package-footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}

.package-footer a {
  text-decoration: none;
  color: inherit;
  font-size: 0.8rem;
  color: #42224d;
}

.package-copyright {
  font-size: 0.6rem;
  color: #42224d;
}

/* OTHER */

.packages-page-title {
  font-size: 42px;
  text-align: center;
  margin-bottom: 10%;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.freedata-container,
.report-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: lightgrey;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  flex: 1 1 45%;
  box-sizing: border-box;
  min-width: 50%;
}

@media screen and (max-width: 768px) {
  .package-container {
    flex-direction: column;
  }
}

.pay-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 10px;
}

.modal-content-checkout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 10px;
}

.modal-content-checkout-btn {
  width: 100%;
  padding: 0.8em;
  border-radius: 10px;
  border: none;
  background-color: #e8f653;
  color: black;
  text-shadow: none;
  box-shadow: none;
  height: 3em;
  font-size: large;
}

.modal-content-checkout-btn:hover {
  background-color: #f5ff86;
  cursor: pointer;
  border-color: #32341d;
}

.modal-content-checkout-text {
  font-size: 18px;
  text-align: center;
}
