:root {
  --orange: #d55a6f;
  --medium-orange: #b84361;
  --dark-orange: #8b3150;
  --light-purple: #faf5ff;
  --light-medium-purple: #eee5f7;
  --medium-purple: #6f508c;
  --dark-purple: #42224d;
}

/* RIGHT 
  ----------------------------------------
  */

.package-right {
  flex: 1;
  width: 100%;

  display: flex;
  justify-content: center;

  border-radius: 5px;
}

.package-right-container {
  width: 100%;
}

/* HEADER */

.package-right-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.package-right-header-button-container {
  /* background-color: white; */
  padding-left: 1rem;
  padding-bottom: 1rem;
  border-bottom-left-radius: 5px;
  /* padding-top: 1rem; */
}

.package-right-header-button {
  background-color: white;
  border: 0.1rem transparent var(--medium-purple);
  color: var(--medium-purple);
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.2rem;
  margin-right: 1rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  .package-right {
    margin: 0rem;
    background: none;
  }

  .package-right-header {
    justify-content: center;
  }
}

/* CONTENT */

.package-right-content {
  background-color: white;
  min-height: 2rem;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
  border-radius: 10px;
  box-shadow: 0 -0.2rem 0.9rem rgb(0 0 0 / 0.2);
  padding: 2rem;
}

.package-right-content-title {
  font-size: 2.5rem;
  font-weight: bold;
  background: -webkit-linear-gradient(#8e60f7, #d832f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}

.package-right-content-description {
  font-size: 1rem;
  color: var(--dark-purple);
  margin-bottom: 2rem;
}

.package-right-content-description-bold {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--dark-purple);
  font-weight: bold;
  margin-bottom: 1rem;
}

.package-right-content-divider {
  border-bottom: 0.1rem solid var(--dark-purple);
  margin-bottom: 2rem;
  width: 100%;
  opacity: 0.5;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, white, #b0b0b0, white);
}

.horizontal-wrapper {
  display: flex;
  align-items: center; /* Vertically center the items */
  justify-content: center;
}
.horizontal-item-logo {
  display: flex;
  align-items: center; /* Vertically center the items */
  justify-content: center;
  height: 2rem;
  margin-bottom: 0.5rem;
}

.horizontal-item {
  text-align: right; /* Remove any default margins */
  font-size: 2rem;
  font-weight: 600;
  max-width: 200px;  /* Sets the maximum width for the text box */
  white-space: normal;  /* Allows the text to wrap to the next line */
  overflow-wrap: break-word;  /* Allows the text to break onto the next line */
  
}

.package-right-content-list-openai-container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.package-right-content-openai-logo {
  height: 6rem;
  margin-left: 2.5rem;
}

@media screen and (max-width: 768px) {
  .package-right-content-openai-logo {
    margin-right: -0.5rem;
    height: 7rem;
  }
  .package-right-content {
    margin-left: 0;
  }
  .horizontal-item-logo {
    margin-left: 0rem;
  }
  .horizontal-item {
    margin-left: 1rem;
  }
}

/* FOOTER */

.package-right-logos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 3rem; */
  margin-top: -1rem;
}

.package-right-logo {
  height: 1.25rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
}
