:root {
  --orange: #d55a6f;
  --medium-orange: #b84361;
  --dark-orange: #8b3150;
  --light-purple: #faf5ff;
  --light-medium-purple: #eee5f7;
  --medium-purple: #6f508c;
  --dark-purple: #42224d;
}

.package-container {
  display: flex;
  height: 100vh;
}

/* RIGHT 
----------------------------------------
*/

.package-right {
  flex: 1;
  width: 100%;
  background-color: var(--light-purple);
  display: flex;
  justify-content: center;
  margin: 1rem;
  border-radius: 5px;
}

.package-right-container {
  width: 100%;
}

/* HEADER */

.package-right-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.package-right-header-button-container {
  /* background-color: white; */
  padding-left: 1rem;
  padding-bottom: 1rem;
  border-bottom-left-radius: 5px;
  /* padding-top: 1rem; */
}

.package-right-header-button {
  background-color: white;
  border: 0.1rem transparent var(--medium-purple);
  color: var(--medium-purple);
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.2rem;
  margin-right: 1rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  .package-right {
    margin: 0rem;
  }

  .package-right-header {
    justify-content: center;
    margin-bottom: 5rem;
  }
}

/* CONTENT */

.package-right-content {
  background-color: white;
  min-height: 2rem;
  width: 70%;
  margin: 3rem auto;
  border-radius: 10px;
  box-shadow: 0 -0.2rem 0.9rem rgb(0 0 0 / 0.4);
  padding: 2rem;
}

.package-right-content-title {
  font-size: 2.5rem;
  font-weight: bold;
  background: -webkit-linear-gradient(#8e60f7, #d832f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
}

.package-right-content-description {
  font-size: 1rem;
  color: var(--dark-purple);
  margin-bottom: 2rem;
}

.package-right-content-description-bold {
  font-size: 1rem;
  color: var(--dark-purple);
  font-weight: bold;
  margin-bottom: 2rem;
}

.package-right-content-divider {
  border-bottom: 0.1rem solid var(--dark-purple);
  margin-bottom: 2rem;
  width: 100%;
  opacity: 0.5;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, white, #b0b0b0, white);
}

.package-right-content-list-openai-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.package-right-content-openai-logo {
  height: 10rem;
  margin-right: 2rem;
}

.package-right-content-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #8e60f7, #d832f7);
  margin-top: 1rem !important;
  margin: -2rem;
  height: 4.5rem;
  border-radius: 0 0 10px 10px;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.package-right-content-button-container:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.package-right-content-button-container:active {
  transform: scale(1.05);
  border-radius: 10px;
  font-size: 1.3rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  .package-right-content-openai-logo {
    margin-right: -0.5rem;
    height: 7rem;
  }
}

/* FOOTER */

.package-right-logos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 3rem; */
  margin-top: -1rem;
}

.package-right-logo {
  height: 1.25rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
}

.package-left-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.package-left-footer a {
  text-decoration: none;
  color: inherit;
  font-size: 0.8rem;
  color: var(--dark-purple);
}

.package-left-copyright {
  font-size: 0.6rem;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 1rem;
  color: var(--dark-purple);
}

@media screen and (max-width: 768px) {
  .package-left-footer {
    justify-content: center;
  }

  .package-left-copyright {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
}

/* OTHER 
----------------------------------------
*/

.packages-left-page-title {
  font-size: 42px;
  text-align: center;
  margin-bottom: 10%;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.freedata-container,
.report-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: lightgrey;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  flex: 1 1 45%;
  box-sizing: border-box;
  min-width: 50%;
}

@media screen and (max-width: 768px) {
  .package-container {
    flex-direction: column;
  }
}

/* MODAL 
----------------------------------------
*/

/* PAY LEFT*/

.package-pay-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 4rem;
  border-radius: 8px;
  outline: none;
  display: flex;
  width: 80%;
  gap: 10px;
  width: 80%;
  box-shadow: 0 -0.2rem 0.9rem rgb(0 0 0 / 0.4);
}

@media screen and (max-width: 768px) {
  .package-pay-container {
    padding: 2rem;
  }
}

.package-pay-left-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.package-pay-left-logo {
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(to right, #00bbff, #d900ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: 2rem;
}

.package-pay-left-title {
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .package-pay-left-subtitle {
    justify-content: flex-start;
    align-items: center;
    border-top: 2px solid rgba(0, 0, 0, 0.1); /* Top border */
    border-bottom: 2px solid rgba(0, 0, 0, 0.1); /* Bottom border */
    padding-top: 10px; /* Space between text and top border */
    padding-bottom: 10px; /* Space between text and bottom border */
  }
  .package-pay-left-subtitle-reg {
    margin-right: 0px !important;
  }
  .package-pay-left-subtitle {
    justify-content: space-between; /* Ensure elements are at the edges */
    align-items: center;
    border-top: 2px solid rgba(0, 0, 0, 0.1); /* Top border */
    border-bottom: 2px solid rgba(0, 0, 0, 0.1); /* Bottom border */
    padding-top: 10px; /* Space between text and top border */
    padding-bottom: 10px; /* Space between text and bottom border */
  }
}

.package-pay-left-subtitle {
  display: flex;
  justify-content: space-between; /* Ensure elements are at the edges */
  align-items: center;
  width: 100%;
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
  margin-bottom: 1rem;
}

.package-pay-left-subtitle-line {
  width: 2px;
  height: 24px; /* Fixed height */
  background-color: rgba(0, 0, 0, 0.1);
}

.package-pay-left-subtitle-reg {
  margin-right: 60px;
}

@media screen and (max-width: 768px) {
  .package-pay-left-cost {
    justify-content: flex-start; /* Aligns items to the left */
    align-items: center; /* Aligns items vertically */
  }
  .package-pay-left-cost-price {
    margin-left: auto; /* Pushes the item towards the right */
    margin-right: auto; /* Pushes the item towards the left */
  }
}

.package-pay-left-cost {
  display: flex;
  justify-content: left; /* Centered by default for larger screens */
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
  margin-bottom: 1rem;
}

.package-pay-left-cost-price {
  font-size: 3rem;
  font-weight: 500;
  color: black;
  margin-left: 3rem;
}

.package-pay-left-cost-name {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0;
}

.package-pay-left-footer {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: small;
  margin-top: 2rem;
  opacity: 0.4;
  margin-bottom: 2rem;
}

.package-pay-left-stripe-logo {
  font-weight: bolder;
  margin-left: -0.5rem;
  font-size: medium;
}

.package-pay-left-footer-divider {
  height: 100%;
  width: 1px;
  background-color: var(--dark-purple);
  opacity: 0.2;
}

/* PAY RIGHT */

.package-pay-right-container {
  flex: 1;
  display: flex;
}

.package-pay-right-content {
  background-color: white;
  min-height: 2rem;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 -0.1rem 0.8rem rgb(0 0 0 / 0.4);
  padding: 1rem;
  justify-content: space-between;
}

.package-pay-right-content-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.package-pay-right-content-button-apple {
  cursor: pointer;
  margin-right: 1rem;
  background-color: black;
  padding: 0.5rem;
  height: 3rem;
  width: 10rem;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 5px;
}

.package-pay-right-content-divider {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--dark-purple);
  line-height: 0.1em;
  margin: 10px 0 20px;
  margin-top: 2rem;
  opacity: 0.3;
}

.package-pay-right-content-divider span {
  background: #fff;
  padding: 0 10px;
}

.package-pay-right-button-close {
  cursor: pointer;
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .package-pay-container {
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    max-height: 80vh;
  }

  .package-pay-left-container,
  .package-pay-right-container {
    width: 100%;
  }

  .package-pay-left-footer {
    display: none;
  }

  .package-pay-left-logo {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
  }

  .package-pay-left-logo::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    height: 2px;
    background: linear-gradient(to right, white, #e0dfdf, white);
  }

  .package-pay-right-button-close {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

/* --------- */

.modal-content-checkout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 10px;
}

.modal-content-checkout-btn {
  width: 100%;
  padding: 0.8em;
  border-radius: 10px;
  border: none;
  background-color: #e8f653;
  color: black;
  text-shadow: none;
  box-shadow: none;
  height: 3em;
  font-size: large;
}

.modal-content-checkout-btn:hover {
  background-color: #f5ff86;
  cursor: pointer;
  border-color: #32341d;
}

.modal-content-checkout-text {
  font-size: 18px;
  text-align: center;
}
