.packages-page-title {
  font-size: 42px;
  text-align: center;
  margin-bottom: 10%;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.freedata-container,
.package-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: lightgrey;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  flex: 1 1 45%;
  box-sizing: border-box;
  max-width: 45%;
}

.freedata-container div,
.package-container div {
  margin-bottom: 10px;
}

.package-container h2,
.package-container h3 {
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .freedata-container,
  .package-container {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.modal-content-checkout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 10px;
}

.modal-content-checkout-btn {
  width: 100%;
  padding: 0.8em;
  border-radius: 10px;
  border: none;
  background-color: #e8f653;
  color: black;
  text-shadow: none;
  box-shadow: none;
  height: 3em;
  font-size: large;
}

.modal-content-checkout-btn:hover {
  background-color: #f5ff86;
  cursor: pointer;
  border-color: #32341d;
}

.modal-content-checkout-text {
  font-size: 18px;
  text-align: center;
}
