.dashboard {
  display: flex;
  background-color: white;
  height: 100vh;
}

.order-details {
  flex-grow: 1;
  padding: 10px;
  overflow: auto;
}

.dashboard-content {
  border-top: 1px solid #ccc; /* line to separate the header and the rest */
}
