:root {
  --orange: #d55a6f;
  --medium-orange: #b84361;
  --dark-orange: #8b3150;
  --light-purple: #faf5ff;
  --light-medium-purple: #eee5f7;
  --medium-purple: #6f508c;
  --dark-purple: #42224d;
}

.order-details {
  margin: auto;
  max-width: 80%; /* Set the maximum width to 80% of the parent */
  margin-bottom: 10rem;
}

@media (max-width: 768px) {
  .order-details {
    margin-bottom: 8rem;
    max-width: 95%;
  }
}
/* MAIN */

.section {
  background-color: white;
  border-width: 1px;
  border-color: #e0dfdf;
  border-style: solid;
  border-radius: 5px;
  padding: 1rem;
  justify-content: space-between;
  /* margin: 1rem; */
  flex-direction: column;
  margin-bottom: 1.5rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.section-title {
  padding-right: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
  color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.section-title-sub {
  font-size: medium;
}

.section-content {
  flex-grow: 1; /* Allows the content to take up remaining space */
}

@media (max-width: 768px) {
  .section {
    flex-direction: column; /* Stack children vertically */
    margin-left: 0rem;
  }

  .section-title {
    padding-right: 0; /* Remove right padding */
    padding-bottom: 0.5rem; /* Add bottom padding */
    flex-basis: auto; /* Removes the fixed width on mobile */
  }

  .section-divider {
    width: 100%; /* Make the divider a full-width horizontal line */
    height: 1px; /* Make the divider thin */
    margin: 0.5rem 0; /* Add some vertical margin to create space */
  }

  .section-content {
    padding-left: 0; /* Remove left padding */
    padding-top: 0.5rem; /* Add top padding */
  }
}

/* BUTTONS */

.button {
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: #24a0ed;
  border: none;
  color: white;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease; /* Adjust transition to include all properties */
}

.button:hover {
  background-color: #1c80cb;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.button:active {
  background-color: #145a8b;
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* REGISTRATION NUMBER PLATE */

.registration-number-container {
  display: flex;
  border: 2px solid #cdcdcd;
  border-radius: 5px;
  background-color: white;
  width: max-content;
}

.registration-number-gb {
  background-color: white;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  border-right: 1px solid #cdcdcd;
  flex-basis: 10%; /* Set the width to be 10% of the container */
  flex-shrink: 0; /* Prevent the box from shrinking */
  text-align: center;
}

.registration-number-content {
  background-color: #e8f653;
  color: black;
  font-size: xx-large;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  flex-grow: 1; /* Allow the box to take up the remaining space */
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* STATUS WINDOWS */

.status-windows-container-dashboard {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.3rem;
  justify-content: center;
}

.status-window {
  min-height: 4.5rem;
  min-width: 9rem;
  max-width: 9rem;
  max-height: 9rem;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  padding-top: 0.5rem;
  /* padding-right: 0.5rem; */
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
}

.status-window-content-container {
  width: 100%;
}

.status-window:hover {
  background-color: #f2f2f2; /* Light gray on hover */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Add a box shadow on hover */
}

.status-window:active {
  background-color: #e6e6e6; /* Darker gray when clicked */
  transform: scale(0.95); /* Slightly reduce the size when clicked */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Reduce box shadow when clicked */
}

.status-window.no-hover {
  cursor: default; /* Change cursor to default */
}

.status-window.no-hover:hover,
.status-window.no-hover:active {
  background-color: white; /* Keep the background color on hover and click */
  transform: none; /* No scaling on click */
  box-shadow: none; /* No box shadow on hover and click */
}

.status-window-title {
  font-size: 1rem;
  margin-bottom: 0.2rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-window-title span {
  font-size: 1.5rem;
}

.status-window-divider {
  width: auto;
  height: 1px;
  background-color: #bdbdbd;
  margin-top: 0.5rem;
  margin-left: -0.6rem;
}

.status-window-details {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-right: 0.1rem;
  font-weight: 400;
}

.status-window-details-value {
  font-weight: 500;
}

@media (max-width: 768px) {
  .status-window {
    width: 100% !important;
    max-width: 8rem;
    min-width: 5rem;
  }
  .status-window-title span {
    font-size: 1.2rem;
  }
  .status-window-details-value {
    font-size: 0.9rem;
  }
}

/* NEW ORDER */

.new-order-transition {
  transition: max-height 0.75s ease-in-out, opacity 0.75s ease-in-out;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}

.new-order-transition.show {
  opacity: 1;
  max-height: 500px;
}

.car-image {
  width: 75%;
}

@media (max-width: 768px) {
  .car-image {
    width: 100%;
  }
}
