/* FOOTER */

.landing-footer-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* centers children horizontally */
    justify-content: center; /* centers children vertically */
    width: 100%; /* ensures it takes full width */
    text-align: center; /* centers inline elements */
}


.footer-logo {
    height: 1.25rem;
    padding-right: 0.5rem;
}

.landing-footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}

.landing-footer a {
    text-decoration: none;
    color: inherit;
    font-size: 0.8rem;
    color: #42224d;
}

.landing-copyright {
    font-size: 0.6rem;
    color: #42224d;
}