.landing__container {
  max-width: 600px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.landing__heading {
  text-align: center;
}

.landing__GB {
  width: 48px;
  height: 48px;
  border: 1px solid #bdbdbd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.landing__GB > span {
  font-weight: bold;
}

.landing__text__input {
  height: 50px;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  padding-left: 10px;
  padding-right: 10px;
}

.landing__btn {
  width: 150%;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  background-color: #e8f653;
  color: black;
  text-shadow: none;
  box-shadow: none;
  height: 3em;
  font-size: large;
}

.landing__btn:hover {
  background-color: #f5ff86;
  cursor: pointer;
}

.landing__image {
  width: 100%;
}
