:root {
  --orange: #d55a6f;
  --medium-orange: #b84361;
  --dark-orange: #8b3150;
  --light-purple: #faf5ff;
  --light-medium-purple: #eee5f7;
  --medium-purple: #6f508c;
  --medium-dark-purple: #59396d;
  --dark-purple: #42224d;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  color: var(--dark-purple);
  cursor: pointer;
  padding-left: 1rem;
}

.profile {
  position: relative;
}

.profile-icon {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding-right: 1rem;
}

.refer-btn {
  background-color: var(--medium-purple);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.refer-btn:hover {
  background-color: var(--medium-dark-purple);
}
