.footer {
  flex-shrink: 0;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-links a {
  padding: 5px;
  flex-basis: 100%; /* Links take up full width by default */
}

@media (max-width: 768px) {
  .footer-links {
    flex-wrap: wrap;
  }

  .footer-links a {
    flex-basis: 40%;
  }
}
