.auth__btn {
  width: 55%;
  height: 2.5em;
  padding: 0.5em;
  border-radius: 10px;
  border: none;
  background-color: #e8f653;
  color: black;
  text-shadow: none;
  box-shadow: none;
  font-size: large;
}

.auth__btn:hover {
  background-color: #f5ff86;
  cursor: pointer;
}
