.modal-content-auth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 10px;
}

@media (max-width: 768px) {
  .modal-content-auth {
    width: 70%;
    height: 70%;
  }
}

.modal-content-auth-input {
  width: 88.5%;
  padding: 0.8em;
  justify-content: center;
  margin-bottom: 1em;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: large;
}

@media (max-width: 768px) {
  .modal-content-auth-input {
    width: 80%;
  }
}

.modal-content-auth-btn {
  width: 100%;
  padding: 0.8em;
  border-radius: 10px;
  border: none;
  background-color: #e8f653;
  color: black;
  text-shadow: none;
  box-shadow: none;
  height: 3em;
  font-size: large;
}

.modal-content-auth-btn:hover {
  background-color: #f5ff86;
  cursor: pointer;
  border-color: #32341d;
}

.modal-content-auth-forgotPassword {
  text-decoration: none;
  color: black;
  font-size: medium;
  margin-bottom: 1em;
  margin-left: 40%;
  margin-top: -7.5%;
}

@media (max-width: 768px) {
  .modal-content-auth-forgotPassword {
    margin-left: 0%;
  }
}

.modal-content-auth-link-simple {
  text-decoration: none;
  color: black;
  font-size: medium;
  margin-top: 2em;
  border-color: transparent;
  background-color: transparent;
  text-shadow: none;
  padding: 0.5em;
}

.modal-content-auth-link-simple:hover {
  cursor: pointer;
  background-color: #f8f9fa;
  border-color: #efefef;
  border-radius: 5px;
}

.modal-content-auth-text-lightgrey {
  color: grey;
}

.modal-content-auth-text-bold {
  font-weight: bold;
}

.modal-content-auth-google {
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  border-color: white;
  width: 100%;
}

.modal-content-auth-google:hover {
  cursor: pointer;
  background-color: #dffffa;
  border-color: #dffffa;
}

.modal-content-auth-google-logo {
  width: 3em;
  height: 3em;
  padding: 0.2em;
}
