.chatbot {
  position: fixed;
  bottom: 0;
  width: calc(100% - 80px);
  /* Adjusted width to account for padding */
  left: 50%;
  transform: translateX(-50%);
  /* Centering the chatbot */
  background-color: white;
  padding: 20px;
  /* Reduced the padding a bit */
  font-size: 25px;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem 1.5rem 0 0;
}

.messages {
  max-height: 70vh;
  overflow-y: auto;
  display: none;
  /* <-- This is important! */
  padding: 15px 0;
}

.messages.open {
  display: block;
  /* <-- This is important! */
}

/* New styles */
.content-area {
  display: none;
  /* Default state is hidden */
}

.content-area.open {
  display: block;
  /* Display it when it has the 'open' class */
}

.landing-logo {
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  /* Making the touch/click area larger for better UX */
}

.preset-questions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* Adds a gap between the questions */
  padding: 15px 0;
}

.userMessage,
.serverMessage {
  margin: 10px 0;
  padding: 12px;
  border-radius: 7px;
  border: 1px solid #f0f0f0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
}

.userMessage {
  align-self: flex-end;
  background-color: #eef2fe;
}

.serverMessage {
  align-self: flex-start;
  background-color: #f7f3fd;
}

.chat-title {
  font-size: 1.1rem;
  margin-bottom: 8px;
  font-weight: bold;
}

.inputContainer {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.chat-input {
  flex: 1;
  padding: 10px 15px;
  font-size: 2rem;
  border: 1px solid #e2e2e2;
  border-radius: 0.5rem 0 0 0.5rem;
  outline: none;
}

.send-chat-button {
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-image: linear-gradient(to right, #8e60f7, #d832f7);
  border-radius: 0 0.5rem 0.5rem 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.send-chat-button:hover {
  background-color: #d632e9;
}

.chatbot-header {
  display: flex;
  justify-content: flex-end;
  padding: 0px 20px;
  /* Providing some space */
  border-bottom: 1px solid #ececec;
  /* Optional: a subtle line to separate header from content */
}

.minimizeButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  /* Pushes the button to the right */
  padding: 10px;
  /* Making the touch/click area larger for better UX */
}

.minimizeIcon {
  width: 20px;
  height: 20px;
}


.chatGPTLabel {
  font-size: 0.8rem;
  color: #888;
  margin-top: 5px;
  text-align: right;
}

/* Media Queries for Mobile */
@media screen and (max-width: 768px) {
  .chatbot {
    width: calc(100% - 20px);
    /* Full width minus padding */
    padding: 10px;
    transform: none;
    /* Remove the transform */
    left: 0;
    /* Adjust the left to start from the edge */
    font-size: 18px;
    border-radius: 1rem 1rem 0 0;
  }


  .messages {
    max-height: 50vh;
    padding: 10px 0;
  }

  .userMessage,
  .serverMessage {
    margin-bottom: 6px;
    padding: 8px;
  }

  .chat-title {
    font-size: 1rem;
  }

  .inputContainer {
    margin-top: 8px;
  }

  .chat-input {
    font-size: 1rem;
  }

  .send-chat-button {
    font-size: 0.9rem;
  }

  .minimizeIcon {
    width: 20px;
    height: 20px;
  }
}


.preset-questions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* Adds a gap between the questions */
  padding: 15px 0;
}

.preset-question {
  padding: 5px 10px;
  border: none;
  background-color: #e2e2e2;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.preset-question:hover {
  background-color: #d1d1d1;
}

.lds-ellipsis {
  position: relative;
  width: 80px;
  padding-bottom: 1rem;
}

.lds-ellipsis div {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background: #d55a6f;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.8s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.8s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.8s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.8s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}